<h1>ADMIN DASHBOARD</h1>
<div>
<%= link_to "New Category", new_category_path, class: "btn btn-default btn-lg" %>
<br />
<br />
<%= link_to "New Drill Group", new_drill_group_path, class: "btn btn-default btn-lg" %>
<br />
<br />
<%= link_to "New Drill", new_drill_path, class: "btn btn-default btn-lg" %>
<br />
<br />
<%= link_to "New Achievement", new_achievement_path, class: "btn btn-default btn-lg" %>
</div>
