
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
    <style media="screen">
    </style>
  </head>
  <body>

    <h1>Leaderboard</h1>

    <table class="table">
      <thead>
        <tr>
          <th>
            Rank
          </th>
          <th>
            Username
          </th>
          <th>
            Points
          </th>
        </tr>
      </thead>
      <tbody>
          <% @users.each_with_index do |user, i|  %>
            <tr>
              <td>
                <%= i + 1  %>
              </td>
              <td>
                <%= link_to user.username, user %>
              </td>
              <td>
                <%= user.points %>
              </td>
            </tr>
        <% end %>
      </tbody>

    </table>


  </body>
</html>
