<h2>Answers</h2>
    <% @drill.answers.each do |answer| %>
    <div class="panel panel-default">
      <p><strong><%= answer.user.username %></strong></p>
      <pre style="margin-bottom: 3em"><%= answer.body %></pre>
    </div>
    <% end  %>
