<div class="form-group">
<h2>Submit an Answer, Private!</h2>
<%= simple_form_for [@drill, @answer] do |f| %>
  <%= f.hidden_field :used_hint, value: "false" %>
  <%= f.input :body, input_html: {class: "form-control"} %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
