<h2> Drill </h2>

<div class="">
  <span>Group: <%= @drill.drill_group.name %></span>
</div>

<div class="">
  Title: <%= @drill.title %>
</div>

<div class="">
  Description: <%= @drill.description %>
</div>

<div class="">
  Hint: <%= @drill.hint %>
</div>

<div class="">
  <span class="">@drill.</span>
</div>
