/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.star {
  height: 35px;
  width: 35px;
  margin-top: 8px;
  }

.star:hover {
  opacity: .7;
}

.star-align {
  display:inline-block;
  text-align:center;
  width: 31%
  }

body {
  margin-top: 80px;
}

 li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    line-height: 65px;
 }

 tr:nth-child(odd) {
   background: #eee;
 }


 .table > thead > tr > th {
   vertical-align: bottom;
   border-bottom: 2px solid #ddd;
   background-color: #fefefe;
 }


.navbar li a {
  color: #eee !important;
  text-decoration: none;
  font-family: 'squares_boldregular';
  font-size: 12px;
  margin-top: 60px;
  }

  a {
  color: #4F6F40;
  }

.btn-lg, .btn-group-lg > .btn {
  padding: 16px 25px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  text-align:center;
  vertical-align: middle;
  width: 50%;
  margin-left: 25%;
  background-color: #4F6F40;
  color: white;
}

.category-columns {
  padding: 50px 20px;
  font-family: 'squares_boldregular';
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-top: 15px;
  background-color: #4F6F40;
  color: white;
  opacity: .95;

  }

ul li a:hover {
  opacity: .5 !important;
  text-decoration:/ none;
  }

hr {
  border-color: #aaa;
}

 .main-banner {
   background: url(main_banner.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   min-height:100%;
 }

 .pull-right {
    margin-right: 25px;
 }

 .navbar {
   background-color: #585755;
   width: 100%;
   height: 75px;
   }

   .confirm {
     background-color: #585755!important;
   }
