.drill-page-head {
  padding-bottom: 20px;
}

.drill-group-name {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
}

.drill-title {
  font-size: 16px;
  padding: 2  px;
}

.fa {
  margin-left: 4px;
  font-size: 18px!important;
}
