@font-face {
    font-family: 'armystampmedium';
    src: asset-url('armystamp-webfont.eot');
    src: asset-url('armystamp-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('armystamp-webfont.woff2') format('woff2'),
         asset-url('armystamp-webfont.woff') format('woff'),
         asset-url('armystamp-webfont.ttf') format('truetype'),
         asset-url('armystamp-webfont.svg#armystampmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'armalite_rifleregular';
    src: asset-url('armalite-rifle.regular-webfont.eot');
    src: asset-url('armalite-rifle.regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('armalite-rifle.regular-webfont.woff2') format('woff2'),
         asset-url('armalite-rifle.regular-webfont.woff') format('woff'),
         asset-url('armalite-rifle.regular-webfont.ttf') format('truetype'),
         asset-url('armalite-rifle.regular-webfont.svg#armalite_rifleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'squares_boldregular';
    src: asset-url('squares-bold.regular-webfont.eot');
    src: asset-url('squares-bold.regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('squares-bold.regular-webfont.woff2') format('woff2'),
         asset-url('squares-bold.regular-webfont.woff') format('woff'),
         asset-url('squares-bold.regular-webfont.ttf') format('truetype'),
         asset-url('squares-bold.regular-webfont.svg#squares_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
