h1 {
  font-family: 'armystampmedium';
  font-size: 55px;
}

h2 {
  font-family: 'armystampmedium';
  font-size: 35px;
}

h3 {
  font-family: 'squares_boldregular';
}

h4 {
  font-family: 'squares_boldregular';
}
