h1 {
  font-family: 'armystampmedium';
  font-size: 55px;
}

h2 {
  font-family: 'armystampmedium';
  font-size: 35px;
}

h3 {
  font-family: 'squares_boldregular';
}

h4 {
  font-family: 'squares_boldregular';
}

#can-can-deny{
  color: #ff0000;
  opacity: 75%;
  text-align: center;
}
