.user-profile-avatar {
  padding: 10px;
  position: relative;
  display: inline;
  }

.user-profile-name h1 {
  padding-left: 150px;
  margin-top: -10px;
}

.user-profile-points h2 {
  float: right;
  color: #FF0000;
  opacity: .8;
  font-size: 50px;
  margin-top: -65px;
}

.user-achievements {
  margin-top: 100px;
}
