<h1>All Achievements</h1>
<% if can? :manage, @achievements.first %>
<div>
  <%= link_to "New Achievement", new_achievement_path, class: "btn btn-default" %>
  <br />
  <br />
</div>
<% end %>

<table>
<% @achievements.each do |achievement| %>
  <tr>
    <td>
      <%= image_tag achievement.badge.thumbnail.url %>
    </td>
    <td>
      <%= link_to achievement.name, achievement %>
    </td>
    <td>
      <%= achievement.point_value_display %>
    </td>

  </tr>
<% end %>
</table>
