<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Category</title>
  </head>
  <body onafterprint="" onafterprint="">


    <h2>Edit Category:</h2>


    <%= render "/categories/form" %>

  </body>
</html>
