<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Category</title>
  </head>
  <body onafterprint="" onafterprint="">

    <h2>Create a New Category:</h2>

  <div class="">
    <%= render "/categories/form" %>  
  </div>



  </body>
</html>
