<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drill Groups</title>
  </head>
  <body>


    <h1><%= @category.name %> Drill Groups</h1>

    <div class="">
      <% @category.drill_groups.each do |drill_group| %>
      <div class="">
        <%= link_to drill_group.name, category_drill_group_path(@category, drill_group)%>
      </div>
      <% end %>
    </div>


  </body>
</html>
