<div class="well">
    <%= solution.body %>
    <%= link_to "Edit", edit_drill_solution_path(@drill, solution),
                        class: "btn btn-danger delete-right", data: {confirm: "Are you sure?"}%>
    <%= link_to "Delete", drill_solution_path(@drill, solution), method: :delete,
                        class: "btn btn-danger delete-right", data: {confirm: "Are you sure?"}%>
</div>
