<!DOCTYPE html>
<html>
<head>
  <title>DrillrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

<body id="back">

<div class="col-md-10 col-centered">

<%= yield %>

</div>
<audio id="sound_tag" src="http://www.dewtone.com/promo/gunshot.mp3" preload="auto"></audio>
<script type="text/javascript">
    $(document).ready(function(){
        $('#sound_tag')[0].play();
    });
</script>
</body>
</html>
